body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#login-page, #request-form-page {
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #ccc;
}

textarea {
    height: 100px;
}

#submitted-info {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
